<!DOCTYPE html>
<html>

<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
input {text-align: center;}
</style>
</head>

<body>

<h1>Text summarizer</h1>
<p>Welcome to the text summarizer! This website uses A Hugging Face Large Language Model to summarize any text entered. Give it a try!</p>


<form action="/input_page.php">
  <label for="fname">Text to Summarize:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>